.narrow.container{
  padding-left: 5rem;
  padding-right: 5rem;
}

a{
  font-family: 'Archivo Black';
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "lg")){
  .narrow.container{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}