/* Application wide styles */

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat:400,700&display=swap');

// colors
:root{
--dullpaper: #f8f8f4;
--text-color: #383838;

--offBlack: #1b1b1b;
--darkgrey: #282828;
--offWhite: #d4d4d4;
--lightpink: #f5e3e2;
--dullpink: #e4d2d1;
--dullerpink: #b17f7f;
--applered: #e56c69;

--navbar-color: var(--darkgrey);
--logo-color: var(--text-color);
--background-color: var(--dullpaper);
--about-bg: #383838;
--nav-background: rgba(0,0,0,0);

// transitions
--easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
--easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
--ezOuut: cubic-bezier(0, 0.78, 0, 0.98);

}
html{
	scroll-behavior: smooth;
}
body{
	background-color: var(--background-color);
}

.animation-clip{
	overflow: hidden;
}

.util-outline{
	-webkit-text-stroke: 2px black;
	color: transparent;
}
.util-outline-red{
	-webkit-text-stroke: 2px var(--applered);
	color: transparent;
}